.addForm, .added{
    background-color: gray;
    margin: auto;
    max-width: 500px;
    margin-top: 3rem;
    padding: 1rem;
    display: grid;
    gap: .5rem;
}

.inputs{
    display: grid;
    gap: .5rem;
}

#close{
    position: absolute;
    color: red;
    font-weight: bolder;
    justify-self: right;
    background-color: white;
    padding: .5rem;
    cursor: pointer;
}